.cashimg{
    max-width:20%;
    display:block;
    top: 10%;
    margin: 0 auto;
    position:absolute;
    top:150px;
    left:300px;
}

.cardimg{
    max-width:20%;
    display:block;
    top: 10%;
    margin: 0 auto;
    position:absolute;
    top:150px;
    right:300px;
}

.payInCashbt{
    max-width:40%;
    display:block;
    top: 50%;
    margin: 0 auto;
    position:absolute;
    top:400px;
    left:400px;
}

.payWithCardbt{
    max-width:40%;
    display:block;
    top: 50%;
    margin: 0 auto;
    position:absolute;
    top:400px;
    right:400px;
}